body {
    color: rgb(232, 11, 81);
    background: rgb(238, 129, 178);
}

header {
    border-bottom: solid 2px rgb(214, 7, 87);
    padding: 20px;
    font-size: 32px;
    color: rgb(152, 239, 171);

}margin: 0px;
}
